{% extends "layout_logged.html" %}
{% block content %}

{% macro abs( s ) %}
{% if s < 0 %}
{{ s * -1 }}
{% else %}
{{ s }}
{% endif %}
{% endmacro %}

<h1>Gra zaczęta {{ game.started.strftime('%Y-%m-%d') }}</h1>

<h2>Rozdanie #{{ deal.deal_no }} zapisane {{ deal.dealed_on.strftime('%Y-%m-%d %H:%M:%S') }}</h2>

<form action="{{ url_for( 'deal', game_id = game.id, deal_no = deal.deal_no ) }}" method="post">
    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th>{{ game.pair1_player1 }}</th>
                <th>{{ game.pair1_player2 }}</th>
                <th>{{ game.pair2_player1 }}</th>
                <th>{{ game.pair2_player2 }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Ręka</th>
                <td><input type="text" name="p1p1_hand" value="{{ abs( deal.pair1_player1_hand ) }}"/></td>
                <td><input type="text" name="p1p2_hand" value="{{ abs( deal.pair1_player2_hand ) }}"/></td>
                <td><input type="text" name="p2p1_hand" value="{{ abs( deal.pair2_player1_hand ) }}"/></td>
                <td><input type="text" name="p2p2_hand" value="{{ abs( deal.pair2_player2_hand ) }}"/></td>
            </tr>
            <tr>
                <th>Stół</th>
                <td><input type="text" name="p1p1_table" value="{{ deal.pair1_player1_table }}"/></td>
                <td><input type="text" name="p1p2_table" value="{{ deal.pair1_player2_table }}"/></td>
                <td><input type="text" name="p2p1_table" value="{{ deal.pair2_player1_table }}"/></td>
                <td><input type="text" name="p2p2_table" value="{{ deal.pair2_player2_table }}"/></td>
            </tr>
            <tr>
                <th>Skończenie</th>
                <td colspan="4">
                    <select name="finished">
                        <option value=""></option>
                        <option {% if deal.ended_by == game.pair1_player1 %}selected="1"{% endif %}>{{ game.pair1_player1 }}</option>
                        <option {% if deal.ended_by == game.pair1_player2 %}selected="1"{% endif %}>{{ game.pair1_player2 }}</option>
                        <option {% if deal.ended_by == game.pair2_player1 %}selected="1"{% endif %}>{{ game.pair2_player1 }}</option>
                        <option {% if deal.ended_by == game.pair2_player2 %}selected="1"{% endif %}>{{ game.pair2_player2 }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" name="submit" value="Zaktualizuj"/>
</form>

{% endblock %}
<!-- vim: set ft=htmldjango: -->
