{% extends "layout_logged.html" %}
{% block content %}

<h1>Dotychczasowe gry:</h1>

<ol>
    {% for g in games %}
    <li><a href="{{ url_for( 'game', game_id = g.id ) }}">
        {{ g.started.strftime('%Y-%m-%d') }},
        {% if g.pair1_score > g.pair2_score %}<b>{% endif %}{{ g.pair1_player1 }} + {{ g.pair1_player2 }}{% if g.pair1_score > g.pair2_score %}</b>{% endif %}
        vs.
        {% if g.pair2_score > g.pair1_score %}<b>{% endif %}{{ g.pair2_player1 }} + {{ g.pair2_player2 }}{% if g.pair2_score > g.pair1_score %}</b>{% endif %}
        -
        {{ g.pair1_score }} : {{ g.pair2_score }}
        {% if g.is_finished %} (zakończona){% endif %}
    </a></li>
    {% endfor %}
</ol>

{% endblock %}
<!-- vim: set ft=htmldjango: -->
