{% extends "layout_logged.html" %}
{% block content %}

{% macro initial_meld( s ) %}
{% if s < 0 %}
15
{% elif s < 2500 %}
50
{% elif s < 5000 %}
90
{% elif s < 10000 %}
120
{% elif s < 10000 %}
120
{% else %}
150
{% endif %}
{% endmacro %}

{% macro abs( s ) %}
{% if s < 0 %}
{{ s * -1 }}
{% else %}
{{ s }}
{% endif %}
{% endmacro %}

{% macro readable_ended( s ) %}
{% if s: %}
{{ s }}
{% else %}
-
{% endif %}
{% endmacro %}

<h1>Gra zaczęta {{ game.started.strftime('%Y-%m-%d') }}</h1>

{% if deals %}
<table class="deals" border="1">
    <thead>
        <tr>
            <th rowspan="2">#</th>
            <th colspan="4">Rozdanie:</th>
            <th colspan="3">Wynik:</th>
            <th rowspan="2">Rozdaje:</th>
        </tr>
        <tr>
            <th>kiedy</th>
            <th>skończył(a)</th>
            <th>{{ game.pair1_player1 }} + {{ game.pair1_player2 }}</th>
            <th>{{ game.pair2_player1 }} + {{ game.pair2_player2 }}</th>
            <th>{{ game.pair1_player1 }} + {{ game.pair1_player2 }}</th>
            <th>{{ game.pair2_player1 }} + {{ game.pair2_player2 }}</th>
            <th>Różnica:</th>
        </tr>
    </thead>
    <tbody>
        {% for d in deals %}
        <tr>
            <td class="deal_no">
                {% if d.editable and not game.is_finished %}
                    <a href="{{ url_for( 'deal', game_id = game.id, deal_no = d.deal_no ) }}">
                        {{ d.deal_no }}
                    </a>
                {% else %}
                    {{ d.deal_no }}
                {% endif %}
            </td>
            <td class="dealing">
                {% if d.dealed_on %}
                {{ d.dealed_on.strftime('%Y-%m-%d') }}
                {% endif %}
            </td>
            <td class="dealing">{{ readable_ended( d.ended_by ) }}</td>
            <td class="score">{{ d.pair1_score }}</td>
            <td class="score">{{ d.pair2_score }}</td>
            <td class="score">{{ d.pair1_sum }}</td>
            <td class="score">{{ d.pair2_sum }}</td>
            <td class="score">{{ abs(d.pair1_sum - d.pair2_sum) }}</td>
            <td class="dealing">{{ dealing_order[ ( d.deal_no - 1 )% 4 ] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<img class="deals" src="{{ url_for( 'game_graph', game_id = game.id ) }}"/>
<div class="clear"></div>

{% elif game.pair1_score != 0 or game.pair2_score != 0 %}
<h2>{{ game.pair1_player1 }} + {{ game.pair1_player2 }} : {{game.pair1_score }}</h2>
<h2>{{ game.pair2_player1 }} + {{ game.pair2_player2 }} : {{game.pair2_score }}</h2>
<h2>Wygrana:
    {% if game.pair1_score > game.pair2_score %}
        {{ game.pair1_player1 }} + {{ game.pair1_player2 }}
    {% else %}
        {{ game.pair2_player1 }} + {{ game.pair2_player2 }}
    {% endif %}
{% endif %}

{% if not game.is_finished %}
<form id="finish_game" action="{{ url_for( 'game', game_id = game.id ) }}" method="post">
    <input type="submit" name="finish_game" value="Zakończ grę!"/>
</form>

<form action="{{ url_for( 'game', game_id = game.id ) }}" method="post">
    <table border="1">
        <thead>
            <tr>
                <th rowspan="5"></th>
                <th colspan="4">Sytuacja aktualna:</th>
            </tr>
            <tr>
                <th colspan="2">{{ game.pair1_player1 }} + {{ game.pair1_player2 }}</th>
                <th colspan="2">{{ game.pair2_player1 }} + {{ game.pair2_player2 }}</th>
            </tr>
            <tr>
                <th class="score">Wynik: {{ game.pair1_score }}</th>
                <th>Wyjście z {{ initial_meld( game.pair1_score ) }}</th>
                <th class="score">Wynik: {{ game.pair2_score }}</th>
                <th>Wyjście z {{ initial_meld( game.pair2_score ) }}</th>
            </tr>
            <tr>
                <th colspan="4">
                    Nowe rozdanie, rozdaje 
                    {% if deals %}
                        {{ dealing_order[ deals[-1].deal_no % 4 ] }}
                    {% else %}
                        {{ game.first_dealing }}
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th>{{ game.pair1_player1 }}</th>
                <th>{{ game.pair1_player2 }}</th>
                <th>{{ game.pair2_player1 }}</th>
                <th>{{ game.pair2_player2 }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Ręka</th>
                <td><input type="text" name="p1p1_hand" value="0"/></td>
                <td><input type="text" name="p1p2_hand" value="0"/></td>
                <td><input type="text" name="p2p1_hand" value="0"/></td>
                <td><input type="text" name="p2p2_hand" value="0"/></td>
            </tr>
            <tr>
                <th>Stół</th>
                <td><input type="text" name="p1p1_table" value="0"/></td>
                <td><input type="text" name="p1p2_table" value="0"/></td>
                <td><input type="text" name="p2p1_table" value="0"/></td>
                <td><input type="text" name="p2p2_table" value="0"/></td>
            </tr>
            <tr>
                <th>Skończenie</th>
                <td colspan="4">
                    <select name="finished">
                        <option value=""></option>
                        <option>{{ game.pair1_player1 }}</option>
                        <option>{{ game.pair1_player2 }}</option>
                        <option>{{ game.pair2_player1 }}</option>
                        <option>{{ game.pair2_player2 }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" name="submit" value="Zapisz wynik tego rozdania"/>
</form>

{% endif %}

{% endblock %}
<!-- vim: set ft=htmldjango: -->
