{% extends "layout.html" %}
{% block body %}
<form action="/login" method="post" id="login">
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" name="username" length="10" autofocus="autofocus"/>
    <br/>
    <label for="password">Hasło:</label>
    <input type="password" name="password" length="10"/>
    <br/>
    <input id="submit" type="submit" name="submit" value="Zaloguj mnie"/>
</form>
{% endblock %}
<!-- vim: set ft=htmldjango: -->
