{% extends "layout.html" %}
{% block body %}
<div id="menu">
<h1>menu:</h1>
<ul>
    <li><a href="{{ url_for("new_game") }}">Nowa gra</a></li>
    <li><a href="{{ url_for("games") }}">Lista gier</a></li>
    <li><a href="{{ url_for("game_stats") }}">Statystyki</a></li>
</ul>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
{% endblock %}
<!-- vim: set ft=htmldjango: -->
