<!DOCTYPE html 'PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>kanasta.depesz.com</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div id="header">
            {% if session.username %}
            <a href="{{ url_for( "logout" ) }}">Logout</a>
            {% endif %}
            <h1>
                <span class="blackcard">♠</span>
                <span class="redcard">♥</span>
                kanasta.depesz.com
                <span class="blackcard">♣</span>
                <span class="redcard">♦</span>
            </h1>
        </div>
        {% set fl = get_flashed_messages() %}
        {% if fl %}
        <ul id="messages">
        {% for message in fl %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if g.errors %}
        <ul id="errors">
        {% for e in g.errors %}
        <li>{{ e }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
<!-- vim: set ft=htmldjango: -->
