{% extends "layout_logged.html" %}
{% block content %}

{% if games %}
<h1>Nieukończone gry:</h1>
<ol>
    {% for g in games %}
    <li><a href="{{ url_for( 'game', game_id = g.id ) }}">
        {{ g.started.strftime('%Y-%m-%d') }},
        {% if g.pair1_score > g.pair2_score %}<b>{% endif %}{{ g.pair1_player1 }} + {{ g.pair1_player2 }}{% if g.pair1_score > g.pair2_score %}</b>{% endif %}
        vs.
        {% if g.pair2_score > g.pair1_score %}<b>{% endif %}{{ g.pair2_player1 }} + {{ g.pair2_player2 }}{% if g.pair2_score > g.pair1_score %}</b>{% endif %}
        -
        {{ g.pair1_score }} : {{ g.pair2_score }}
        {% if g.is_finished %} (zakończona){% endif %}
    </a></li>
    {% endfor %}
</ol>
{% endif %}

{% if last_games %}
<h1>Ostatnie gry par:</h1>

<script type='text/javascript'>
    var newGames = {{ new_games | tojson | safe }};
</script>

<table id="last-games">
    <thead>
        <th>Gra zaczęta</th>
        <th>Para 1</th>
        <th>Para 2</th>
        <th>Kolejność rozdawania</th>
        <th>Zakończona?</th>
        <th>Nowa gra</th>
    </thead>
    <tbody>
    {% for g in last_games %}
        <tr>
            <td>
                <a href="{{ url_for( 'game', game_id = g.id ) }}">
                    {{ g.started.strftime('%Y-%m-%d') }}
                </a>
            </td>
            <td>{{ g.pair1_player1 }} + {{ g.pair1_player2 }}</td>
            <td>{{ g.pair2_player1 }} + {{ g.pair2_player2 }}</td>
            <td>{{ g.first_dealing }}, {{ g.second_dealing }}</td>
            <td>{% if g.is_finished %}tak <span class="formyes">&#10003;</span>{% else %}nie <span class="formno">&#10007;</span>{% endif %}</td>
            <td><button data-game-id="{{ g.id }}">Nowa gra tych par</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% macro user_select( name, label ) %}
<label for="{{ name}}">{{ label }}</label>
<select id="s{{ name }}" name="{{ name }}">
    {% for i in users %}
    <option {% if request.form[ name ] == i %}selected="1"{% endif %}>{{ i }}</option>
    {% endfor %}
</select>
{% endmacro %}

<h1>Nowa gra:</h1>
<form action="{{ url_for('new_game') }}" method="post">
    <div class="new-row">
        <span>Para 1:</span>
        {{ user_select( "pair1_player1", "")  }} i {{ user_select( "pair1_player2", "" ) }}
    </div>
    <div class="new-row">
        <span>Para 2:</span>
        {{ user_select( "pair2_player1", "" ) }} i {{ user_select( "pair2_player2", "" ) }}
    </div>
    <div class="new-row">
        <span>Rozdający:</span>
        {{ user_select( "first_dealing", "" ) }} , {{ user_select( "second_dealing", "" ) }}
    </div>
    <input type="submit" name="submit" value="Zacznij grę"/>
</form>

<script type="text/javascript" src="/static/main.js"></script>

{% endblock %}
<!-- vim: set ft=htmldjango: -->
