{% extends "layout_logged.html" %}
{% block content %}

{% macro user_select( name, label ) %}
<label for="{{ name}}">{{ label }}</label>
<select name="{{ name }}">
    {% for i in users %}
    <option {% if request.form[ name ] == i %}selected="1"{% endif %}>{{ i }}</option>
    {% endfor %}
</select>
{% endmacro %}

<form action="{{ url_for('new_game') }}" method="post">
<h1>Gracze:</h1>
<h2>Para1:</h2>
<ul>
    <li>{{ user_select( "pair1_player1", "Gracz 1" ) }}</li>
    <li>{{ user_select( "pair1_player2", "Gracz 2" ) }}</li>
</ul>
<h2>Para2:</h2>
<ul>
    <li>{{ user_select( "pair2_player1", "Gracz 1" ) }}</li>
    <li>{{ user_select( "pair2_player2", "Gracz 2" ) }}</li>
</ul>
<h2>Rozdający</h2>
<ul>
    <li>{{ user_select( "first_dealing", "Pierwsza/y" ) }}</li>
    <li>{{ user_select( "second_dealing", "Druga/y" ) }}</li>
</ul>
<input type="submit" name="submit" value="Zacznij grę"/>
</form>

{% endblock %}
<!-- vim: set ft=htmldjango: -->
