{% extends "layout_logged.html" %}
{% block content %}

<h1>Partie:</h1>

<h2>Wyniki ogółem:</h2>
<table class="stats">
    {% for p in games.summary %}
    <thead>
        <tr>
            <th></th>
            <th>{{ p.pair1_player1 }} + {{ p.pair1_player2 }}</th>
            <th>{{ p.pair2_player1 }} + {{ p.pair2_player2 }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>partie:</th>
            <td>{{ p.pair1_wins }}</td>
            <td>{{ p.pair2_wins }}</td>
            <td>{% if p.draws > 0 %}{{ p.draws }} remisów{% endif %}</td>
        </tr>
        <tr>
            <th>rozdania:</th>
            <td>{{ p.pair1_deals_win }}</td>
            <td>{{ p.pair2_deals_win }}</td>
            <td>{% if p.deal_draws > 0 %}{{ p.deal_draws }} remisów{% endif %}</td>
        </tr>
        <tr>
            <th>punkty:</th>
            <td>{{ p.pair1_sum }}</td>
            <td>{{ p.pair2_sum }}</td>
            <td></td>
        </tr>
    </tbody>
    {% endfor %}
</table>

<h1>Masakry:</h1>

<ol>
    {% for p in games.massacres %}
    <li><b>{{ p.diff }}</b> punktów - <a href="{{ url_for('game', game_id=p.id) }}">{{ p.started.strftime('%Y-%m-%d') }} - {{ p.pair1_player1 }} + {{ p.pair1_player2 }} vs.  {{ p.pair2_player1 }} + {{ p.pair2_player2 }}: {{ p.pair1_score }} : {{ p.pair2_score }}</a></li>
    {% endfor %}
</ol>

<h1>Najdłuższe w/g liczby rozdań:</h1>
<ol>
    {% for p in games.longest %}
    <li><b>{{ p.length }}</b> rozdań - <a href="{{ url_for('game', game_id=p.id) }}">{{ p.started.strftime('%Y-%m-%d') }} - {{ p.pair1_player1 }} + {{ p.pair1_player2 }} vs.  {{ p.pair2_player1 }} + {{ p.pair2_player2 }}: {{ p.pair1_score }} : {{ p.pair2_score }}</a></li>
    {% endfor %}
</ol>

<h1>Najdłuższe w/g kalendarza:</h1>
<ol>
    {% for p in games.callongest %}
    <li><b>{{ p.started.strftime('%Y-%m-%d') }} - {{ p.last_deal_finished.strftime('%Y-%m-%d') }} ({{p.duration}})</b> <a href="{{ url_for('game', game_id=p.id) }}">{{ p.pair1_player1 }} + {{ p.pair1_player2 }} vs.  {{ p.pair2_player1 }} + {{ p.pair2_player2 }}: {{ p.pair1_score }} : {{ p.pair2_score }}</a></li>
    {% endfor %}
</ol>

<h1>Zaskakujące:</h1>
<ol>
    {% for p in games.surprises %}
    <li><b>{{ p.diff }}</b> punktów różnicy w <b>{{ p.deal_no }}</b> rozdaniu - <a href="{{ url_for('game', game_id=p.id) }}">{{ p.started.strftime('%Y-%m-%d') }} - {{ p.pair1_player1 }} + {{ p.pair1_player2 }} vs.  {{ p.pair2_player1 }} + {{ p.pair2_player2 }}: {{ p.pair1_score }} : {{ p.pair2_score }}</a></li>
    {% endfor %}
</ol>

<h1>Ciągi zwycięstw</h1>
<ol>
    {% for p in games.streaks %}
    <li>{{ p.win_count }} zwycięststw od {{ p.min_started.strftime('%Y-%m-%d') }} do {{ p.max_started.strftime('%Y-%m-%d') }} dla
{% if p.winner == "pair1" %}
<b>{{ p.pair1_player1 }} + {{ p.pair1_player2 }}</b>
{% else %}
<b>{{ p.pair2_player1 }} + {{ p.pair2_player2 }}</b>
{% endif %}
    Gry: 
        {% for g in p.game_ids %}
        <a href="{{url_for('game', game_id=g)}}">{{g}}</a>
        {% if loop.index == loop.length - 1 %}
        , i
        {% elif loop.last %}
        {% else %}
        ,
        {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ol>
<h1>Rozdania:</h1>

<h1>Najlepsze:</h1>
<ol>
    {% for d in deals.best %}
    <li><b>{{ d.score }}</b> punktów w {{ d.deal_no }} rozdaniu w grze <a href="{{ url_for('game', game_id=d.id) }}">{{ d.started.strftime('%Y-%m-%d') }} - {{ d.pair1_player1 }} + {{ d.pair1_player2 }} vs.  {{ d.pair2_player1 }} + {{ d.pair2_player2 }}: {{ d.pair1_score }} : {{ d.pair2_score }}</a></li>
    {% endfor %}
</ol>

<h1>Najgorsze:</h1>
<ol>
    {% for d in deals.worst %}
    <li><b>{{ d.score }}</b> punktów w {{ d.deal_no }} rozdaniu w grze <a href="{{ url_for('game', game_id=d.id) }}">{{ d.started.strftime('%Y-%m-%d') }} - {{ d.pair1_player1 }} + {{ d.pair1_player2 }} vs.  {{ d.pair2_player1 }} + {{ d.pair2_player2 }}: {{ d.pair1_score }} : {{ d.pair2_score }}</a></li>
    {% endfor %}
</ol>

<h1>Masakry:</h1>
<ol>
    {% for d in deals.massacres %}
    <li><b>{{ d.diff }}</b> punktów w {{ d.deal_no }} rozdaniu w grze <a href="{{ url_for('game', game_id=d.id) }}">{{ d.started.strftime('%Y-%m-%d') }} - {{ d.pair1_player1 }} + {{ d.pair1_player2 }} vs.  {{ d.pair2_player1 }} + {{ d.pair2_player2 }}: {{ d.pair1_score }} : {{ d.pair2_score }}</a></li>
    {% endfor %}
</ol>

{% endblock %}
<!-- vim: set ft=htmldjango: -->
