.redcard { color: red }
.blackcard { color: black }
#header a { float: right; padding: 0.5em }
#header a em { font-weight: bold }
#header h1 { text-align: center; margin: 0; padding: 0.5em }

/* Colors */
/* - #739541 */
/* - #659681 */
/* - #4D4C48 */
/* - #ADA99F */
/* - #EEE9E3 */

body {
    background-image:url('/static/bg.png');
    color: #4D4C48;
}

a { color: #739541 }

a:visited { color: #739541 }

#messages {
    text-align: center;
    border: 1px solid #ADA99F;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

#login { margin: 5em; }
#login label { float: left;
    width: 15em;
    text-align: right;
    margin-right: 0.5em;
}

#login input { width: 10em; }
#login #submit { margin-left: 15.5em; }

#menu {
    float: left;
    width: 10em;
    margin: 0.3em;
}

#menu h2 {
}
#content {
    margin-left: 11em;
}

img.deals {
    float: right;
}
table.deals {
    float: left;
}

td, th {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

th.score {
    font-size: 120%;
    font-weight: bold;
    background: #d7d3cd;
}

td.score {
    text-align: right;
    padding-right: 1em;
}

td.dealing {
    text-align: center;
}
td.deal_no {
    text-align: right;
}

#finish_game {
    margin: 1em;
    text-align: center;
    font-size: 150%;
}
#finish_game input {
    padding: 0.5em;
}
.clear {
    clear: both;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

.formyes,
.formno {
    font-weight: bold;
    font-size: 120%;
}

.formyes { color: #22ff22; }
.formno { color: #ff2222; }
